<app-header [title]="title"></app-header>

<ion-content>
  <div class="profile-info">
    <img src="https://via.placeholder.com/100" alt="User Avatar" class="avatar" />
    <h2>miguelopjoy</h2>
    <div class="profile-actions">
      <div class="">
        <ion-button fill="outline" shape="round" (click)="editProfile()">Editar Perfil</ion-button>
      </div>
      <div class="">
        <ion-button shape="round" (click)="logout()">Cerrar sesión</ion-button>
      </div>
    </div>
  </div>

  <div>
    <ion-tab-bar>
      <ion-tab-button (click)="loadUserPosts()">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="loadLikedPosts()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>


    <div>
      @if(recipes && recipes.length > 0) {
      <ion-grid>
        @for (row of chunkedRecipes; track row) {
        <ion-row>
          @for (recipe of row; track recipe) {
          <ion-col size="4">
            <img [src]="recipe.images[0]" (click)="viewDetails(recipe)" />
          </ion-col>
          }
        </ion-row>
        }
      </ion-grid>
      } @else {
      <div class="">
        <p>Todavía no has creado ninguna receta</p>
      </div>
      }
    </div>

  </div>
</ion-content>