<form (ngSubmit)="onSubmit($event)" [formGroup]="recipeForm">

  <ion-item>
    <ion-input type="text" formControlName="title" placeholder="Título de la receta" class="form-control"
      ngDefaultControl required></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea formControlName="description" rows="4" placeholder="Describe tu receta" ngDefaultControl
      required></ion-textarea>
  </ion-item>

  <ion-item formArrayName="ingredients">
    <ion-button expand="full" fill="outline" type="button" (click)="addIngredient()">
      Añadir Ingrediente
    </ion-button>

    <ion-list>
      @for (ingredient of ingredients.controls; track ingredient; let i = $index;) {
      <ion-item [formGroupName]="i" class="ingredient-item">
        <ion-input type="text" formControlName="name" placeholder="Ingrediente" ngDefaultControl></ion-input>
        <ion-button color="danger" type="button" (click)="removeIngredient(i)">
          Eliminar
        </ion-button>
      </ion-item>
      }
    </ion-list>

  </ion-item>


  <ion-item formArrayName="steps">
    <ion-button expand="full" fill="outline" type="button" (click)="addStep()">
      Añadir Paso
    </ion-button>
    <ion-list>
      @for (step of steps.controls; track step; let i = $index) {
      <ion-item [formGroupName]="i">
        <ion-textarea rows="2" formControlName="description" placeholder="Paso de preparación"
          ngDefaultControl></ion-textarea>
        <ion-button color="danger" type="button" (click)="removeStep(i)">
          Eliminar
        </ion-button>
      </ion-item>
      }
    </ion-list>
  </ion-item>


  <ion-item>
    <ion-label>Categoría de la receta</ion-label>
    <ion-select formControlName="category" (ionChange)="setCategory($event)" placeholder="Selecciona una categoría"
      interface="popover" ngDefaultControl>
      @for (category of categories; track category) {
      <ion-select-option [value]="category">{{category}}</ion-select-option>
      }
    </ion-select>
  </ion-item>

  <app-upload-images (uploeadedImages)="setImages($event)" [images]="images"></app-upload-images>

  @if (isEdit) {
  <ion-buttons slot="start">
    <ion-button expand="full" type="submit" (click)="confirm($event)" [disabled]="recipeForm.invalid">
      Confirmar
    </ion-button>
    <ion-button expand="full" color="danger" (click)="cancel()">
      Cancelar
    </ion-button>
  </ion-buttons>
  } @else {
  <ion-button expand="full" type="submit" [disabled]="recipeForm.invalid">
    Crear Receta
  </ion-button>
  }

</form>